<div class="hero-card_container">
   <div class="card" >
       <img src="https://i.pinimg.com/originals/95/e4/fd/95e4fd78946f22995eedd9a66e9b794d.png" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Name: {{hero.name}}</h5>
         <p class="card-text">Height: {{hero.height}}cm.</p>
       </div>
       <ul class="list-group list-group-flush">
         <li class="list-group-item">Mass: {{hero.mass}}</li>
         <li class="list-group-item">Skin: {{hero.skin_color}}</li>
         <li class="list-group-item">Eyes: {{hero.eye_color}}</li>
         <li class="list-group-item">Birth: {{hero.birth_year}}</li>
         <li class="list-group-item">Birth: {{hero.gender}}</li>
       </ul>
       <div class="card-body">
           <button
            class="btn btn-primary"
           >
           endOfTestTask
           <i class="far fa-hand-paper"></i>
           </button>
       </div>
     </div>
</div>